@model Mvc_E_Commerce.Entity.DTO.LoginDTO
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @*<script type="text/javascript">
        $(function () {
            $("#buttonLogin").on("click", function () {
                var userName = $(".UserName").val();
                var destUrl = "/";
                $.ajax({
                    url: destUrl,
                    type: "GET",
                    success: function (response) {
                        alert(response);
                    },
                    error: function (o) {
                        alert(o);
                    }
                });
            });
        });
    </script>*@
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Content/img/kayitbuton.png" alt="">
                    <div class="hover">
                        <h4>Yeni Sitemize Kayıt Olmadınız mı?</h4>
                        <p>Yenilikçi sitemize ve görülmemiş ürünleri ve  indirimlerini kaçırmamak için kayıt olmayı unutma!!! </p>
                        @Html.ActionLink("Create an Account", "UserAdd", "Login", new { area = "" }, new { @class = "primary-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    @using (Html.BeginForm("LoginControl", "Login", FormMethod.Post, new { @class = "row login_form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class=" col-md-12 form-group">
                            @Html.LabelFor(x=>x.UserName,new {@class="form-control" })
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control",placeholder="Kullanıcı Adı" })
                        </div>
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(x => x.Password, new { @class = "form-control" })
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Şifre" ,@type="password"})
                        </div>
                        <div class="col-md-12 form-group">
                            <label>@Html.CheckBoxFor(x => x.RememberMe) Beni Hatırla</label>
                           
                        </div>
                        <button type="submit" id="buttonLogin" class="primary-btn">Giriş Yap</button>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


