@model Mvc_E_Commerce.Entity.DTO.RegisterDTO
@{
    ViewBag.Title = "UserAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">            
            <h3 class="mb-30">KAYIT OL</h3>
            @Html.ValidationSummary()
            @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "row login_form" }))
            {
                @Html.AntiForgeryToken()
                <div class=" col-md-12 form-group">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "single-input", placeholder = "Kullanıcı Adı" })
                </div>
                <div class=" col-md-12 form-group">
                    @Html.LabelFor(x => x.UserName)
                    @Html.TextBoxFor(x => x.UserName, new { @class = "single-input", placeholder = "Kullanıcı Adı" })
                </div>
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { @class = "single-input", placeholder = "Email" })
                        </div>
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(x => x.Password)
                            @Html.TextBoxFor(x => x.Password, new { @class = "single-input", placeholder = "Şifre",type="password" })
                        </div>
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(x => x.ConfirmPassword)
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "single-input", placeholder = "Tekrar Şifre", type = "password" })
                        </div>
                        <button type="submit" class="primary-btn">Üye Ol</button>
            }
            </div>
        </div>
</div>
